[submodule "emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "externals/sdl2webgpu"]
	path = externals/sdl2webgpu
	url = https://github.com/eliemichel/sdl2webgpu.git
