[submodule "emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "externals/SDL"]
	path = externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "externals/sdl2webgpu"]
	path = externals/sdl2webgpu
	url = https://github.com/eliemichel/sdl2webgpu.git
[submodule "externals/webgpu"]
	path = externals/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
	ignore = dirty
[submodule "externals/glm"]
	path = externals/glm
	url = https://github.com/g-truc/glm.git
